html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Roboto;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%
}

.page-title {
  margin-bottom: 5vh;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.795);
}