@import url(https://fonts.googleapis.com/css?family=Karla:regular,italic,700,700italic);

@font-face {
  font-family: 'panama';
  src: url('../fonts/panama-bold-webfont.woff2') format('woff2'),
       url('../fonts/panama-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ostrich';
  src: url('../fonts/ostrich-sans-bold.woff') format('woff');
}